body{

	background-color: #ffd9c2;

}

a{
	color: black;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
    font-weight: 300; 0

}


li{
	line-height: 30px;
}

h1{
	color: #574d3e;
	font-family: "K2D", sans-serif;
	font-weight: 800;1
	font-size: 200%;
}

h2{
	color: #574d3e;
	font-family: "K2D", sans-serif;
}

h3{
	color: #574d3e;
	font-family: "K2D", sans-serif;
}

hr{
	border-color: black;
}

