body{

	background-color: #ffe3d1;

}

a{
	color: black;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
    font-weight: 300; 0

}


li{
	line-height: 30px;
}

h1{
	color: black;
	font-family: "K2D", sans-serif;
	font-weight: 800;1
	font-size: ;
}

h2{
	color: #6e2a00;
	font-family: "K2D", sans-serif;
}

h3{
	color: #943900;
	font-family: "K2D", sans-serif;
}

hr{
	border-color: black;
}

