body{ 
background-color:#ffe8bf ;
 }

h1 {
font-family: "K2D", sans-serif;
text-align: center;
font-weight: 800;1
font-style: normal;
font-size: 60px; 
word-spacing: 10px;
color:#853928 ;
text-decoration: underline;
text-decoration-color:#57251a ;
}

h2 {
font-family: "K2D", sans-serif;
text-align: center;
font-weight: 500;1
font-style: normal;
font-size: 30px;
color: #ad361c;
}

p {
font-family: "Roboto", sans-serif;
font-weight: 400; 1
text-align: center; 
line-height: 30px;
color:black ;
padding-right: 300px;
padding-left: 300px;
}
