body{ 
background-color: #f5e4dc;
 }

h1 {
font-family: "K2D", sans-serif;
text-align: center;
font-weight: 800
font-style: normal;
font-size: 300px 
word-spacing: 3px
color: #a33607 ;
}

h2 {
font-family: "K2D", sans-serif;
text-align: center;
font-weight: 400
font-style: normal;
font-size: 60px
color: 
}


p {
font-family: 
font-weight: 
text-align: 
text-indent: 
line-height: 
}

