body{ 
background-color: #f5e4dc;
 }

h1 {
font-family:  
text-align: 
color: 
font-weight: 
font-size:  
word-spacing: 
}

h2 {
font-family: 
text-indent:  
font-weight: 
font-size: 
color: 
}


p {
font-family: 
font-weight: 
text-align: 
text-indent: 
line-height: 
}

